body {
    background-color: #cccccc;
    font-family: sans-serif;
    width: 1000px;
    margin: 0px auto;
}

header {
    background-color: #1c345a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

header #logo h1{
	background-image: url('img/logo.jpg');
	background-repeat: no-repeat;
        background-position: center left;
        height: 100px;
        padding-left: 100px;
        vertical-align: middle;
        line-height: 100px;
}

#sidebar1{
    background-color: white;
    float: left;
    width: 200px;    
}

#sidebar1 ul{
    list-style-type: none;
}

#sidebar2{
    background-color: white;
    background-color: white;
    float: right;
    width: 190px;
    padding-left: 10px;
}

#content {
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    min-height: 500px;
    border-left: 1px solid #1c345a;
    border-right: 1px solid #1c345a;
}

#footer{
    text-align: center;
    background-color: #1c345a;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
    
}

#footer a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

#page {
    border: 2px solid #1c345a;
    border-top: 1px solid #1c345a;
    border-bottom: 1px solid #1c345a;
    box-shadow: 0px 0px 20px;
    background-color: white;
}

#clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

#htmlval{
    background-image: url('img/html.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px;
}

#cssval{
    background-image: url('img/css.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px;
}