body {
    background-color: #cccccc;
    font: 13px/20px "Open Sans",Arial,sans-serif;
    width: 1000px;
    margin: 0px auto;
}

header {
    background-color: #1c345a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#header{
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    height: 100px;
    padding-left: 120px;
    vertical-align: middle;
    line-height: 100px;
}

#header h1{
    font-size: 3em;
    margin: 0px;
}

#sidebar1{
    background-color: white;
    float: left;
    width: 300px;    
    font-size: 13px;
}

#sidebar1 ul{
    list-style-type: none;
}



#content {
    margin-left: 300px;
    margin-right: 50px;
    padding: 10px;
    min-height: 500px;
}

#footer{
    text-align: center;
    background-color: #1c345a;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#footer a:link, footer a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

#page {
    border: 2px solid #1c345a;
    border-top: 1px solid #1c345a;
    border-bottom: 1px solid #1c345a;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
    background-color: white;
}

#clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

#htmlval{
    background-image: url('../img/html.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px;
}

#cssval{
    background-image: url('../img/css.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px;
}

#top p {
    float: left;
    margin: 10px;
}

#top {
    height: 20px;
}

.input-form input[type="submit"], .input-form button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

label {
    width: 30%;
    display: inline-block;
}

.input-form input{
    display: inline-block;
    width: 60%;
}

.input-form {
    line-height: 3em;
}

h2, h3{
    color: #1c345a;
}

.logout a, .logout a:visited {
    color: white;
}

a, a:visited {
    color: #9e1616;
}